.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #242424;
}

.roundButton{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin: 10px 0;
    margin-right: 8px;
    background-color: #888;
}

.active{
    background-color: #eee;
    composes: roundButton;
}

.inactive{
    background-color: #888;
    composes: roundButton;
}